LYRIC_MODEL_SIZE=small
LYRIC_CPU_THREADS=8
LYRIC_SERVICE_HOST=127.0.0.1
LYRIC_SERVICE_PORT=8765
LYRIC_MAX_UPLOAD_MB=250
YOUTUBE_API_KEY=
EZWAY_ALLOWED_ORIGINS=https://ezwaypro.theartistcut.com,https://main.d1wu55zn1feotm.amplifyapp.com,http://localhost:5173,http://127.0.0.1:5173
